@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    align-items: center;
    justify-content: center;
   display: flex;
}

.image-container img{
    width: 30px;
    position: absolute;
    margin-left: -300px;
    margin-top: 300px;
    
}

.image-container {
    width: 100%;
    text-align: center;
   
}

.form-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-container input {
    margin: 1em 0 1em 0;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
}
