@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    
    height: 100vh;
}

#container {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
   margin-top: 100px;
  
    
  
}

.all p {
    margin-bottom: 10px;
    margin: 0;
    font-weight: bolder;
    
   
}

.item-name {
    color: black;
    font-weight: bolder;
}



.all {
    display: flex;
    gap: 100px;

}

.item-info {
  max-width: 600px;
}

#container img{

    flex: 0 0 auto; 
    margin-right: 100px;
    max-width: 300px;
    display: block;
    height: auto;
    
}

