@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Roboto:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  font-family: 'Poppins', sans-serif;
  padding: 30px;
}

nav {
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

.container {

  align-items: center;
  display: flex;
  justify-content: center;
  padding: 200px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}



.search__input {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: black;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 300px;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
 
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 900;
  color: black;
  font-family: 'Poppins';
}

.search__input:focus+.search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}


.itens h2 {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  color: #353e48;;
  font-weight: 900;
}

.item-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Poppins';
  font-weight: 600;

}

.item {
  max-width: 210px;
  padding: 15px;
  margin: 20px;
  border: 1px solid #ccc;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.search-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}